.navbar {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #1e1e2f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.navbarContent {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.6rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: 40px;
  transition: color 0.3s ease;
}

.logo:hover {
  color: #00d8ff;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 6px; 
  margin-left: 55%;
  margin-bottom: 6px;
}

.navLinks li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  position: relative;
}

.navLinks li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #00d8ff;
  bottom: -4px;
  left: 0;
  transition: width 0.3s ease;
}

.navLinks li a:hover::after {
  width: 100%;
}

.navLinks li a:hover {
  color: #00d8ff;
}
